@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}
.todo-app {
    background: #fff;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
}

.row {
    background: #edeef0;
    border-radius: 30px;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

button {
    border: none;
    outline: none;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: '';
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../images/checked.png);
}

ul li span {
    font-size: 22px;
    color: #555;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}